/vendor/
/node_modules/

.env
.env.*
!.env.example

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/logs/*
/storage/framework/views/*
/storage/framework/phpunit/*
!/storage/**/.gitignore

.phpunit.result.cache
/.idea/
/.vscode/
.DS_Store
Thumbs.db
